{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3>About Us</h3>
                <p class="mb-0">
                    Hanilies Cakeshoppe, founded by Ms. Teresa T. Rabillas in 2009, specializes in customized cakes
                    and event decoration services.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
